.products-slider {
    position: relative;
}

.products-slider__arrow {
    display: block;
    position: absolute;
    top: 50%;
    z-index: 10;
    transform: translateY(-50%);
    background: url(./../../img/prev.svg);
    width: rem(14px);
    height: rem(27px);
    background-size: contain;
    
    @include tablets {
        transform: translate(350%, -350%);
    }

    &--prev {
        left: 0;
        @include tablets {
            left: rem(40px);
        }

        @include phones {
            left: rem(-25px);
        }
    }

    &--next {
        right: 0;
        transform: rotate(-180deg);
            
        @include tablets {
            right: rem(155px);
        }

        @include phones {
            right: rem(75px);
        }
    }
}




