.products-slider__arrow {
    position: absolute;
}

.products-slider__arrow-elem {
    width: rem(14px);
    height: rem(27px);

}

.products-slider__arrow-elem--prev {
    margin: rem(280px) rem(30px);

    @include tablets {
        margin: rem(280px) rem(115px);
    }

    @include phones {
        margin: rem(280px) rem(15px);
    }
}

.products-slider__arrow-elem--next {
    padding: rem(0px) rem(300px);
}

/*
.product-slider__arrow--direction--next {
    padding: rem(280px) rem(950px);

    @include tablets {
        padding: rem(390px) rem(700px);
    }
}
*/
