.products-slider__arrow {
    position: relative;
}

.products-slider__arrow-elem {
    width: rem(14px);
    height: rem(27px);
}

.products-slider__arrow-elem--prev {
    position: absolute;
    top: rem(245px);
    left: rem(-10px);
    transform: translate(-50%, 50%);

    @include tablets {
        top: rem(298px);
        left: rem(125px);
    }

    @include phones {
        top: rem(288px);
        left: rem(20px);
    }
}

.products-slider__arrow-elem--next {
    position: absolute;
    transform: translate(-50%, 50%);
    top: rem(-293px);
    right: rem(-980px);

    @include tablets {
        top: rem(-610px);
        right: rem(-690px);
    }

    @include phones {
        top: rem(-610px);
        right: rem(-530px);
    }    
}

